<h1>Hey, Rails</h1>
<%= link_to 'List of stations', railway_stations_path%>
<%= link_to 'List of trains', trains_path %>
<%= link_to 'List of routes', routes_path %>
<%= link_to 'List of carriages', carriages_path %>
